<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="1;url=https://wrome.github.io/heilbronn2022/">
        <script type="text/javascript">
            window.location.href = "http://wrome.github.io/heilbronn2022/"
        </script>
        <title>Redirection to the current ROME workshop</title>
    </head>
    <body>
        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
	<!-- If you are not redirected automatically, follow the <a href='http://wrome.github.io/vancouver2018/'>link to example</a> -->
        If you are not redirected automatically, follow the <a href='https://wrome.github.io/heilbronn2022/'>link</a>
    </body>

</html>
