<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="1;url=http://www.rome.eonerc.rwth-aachen.de/vancouver2018/">
        <script type="text/javascript">
            <!-- window.location.href = "http://wrome.github.io/vancouver2018/" -->
            window.location.href = "http://127.0.0.1:4000/rio2019/"
        </script>
        <title>Redirection to the current ROME workshop</title>
    </head>
    <body>
        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
	<!-- If you are not redirected automatically, follow the <a href='http://wrome.github.io/vancouver2018/'>link to example</a> -->
        If you are not redirected automatically, follow the <a href='http://127.0.0.1:4000/rio2019/'>link to example</a>
    </body>

</html>
